.Painel{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    margin-top: 5%;
    width: 80%;
    max-width: 1000px;
    border-radius: 10px;
    padding:10px;
    text-align: center;
}

.Painel2{
    border-radius: 10px;
    margin-top: 10px;
    padding:10px;
    text-align: center;
    width:100%;
}

.ListaDeModulos{
    width:100%;
    background-color:white;
    padding:5px;
    border-radius: 10px;
}


.Botao{
    border: none;
    width: 65px;
    height: 65px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.Tabela{
    width:80%;
}

.Nav{
    display: flex;
    justify-content: space-between;
}