.Painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 95%;
    max-width: 1000px;
    border-radius: 10px;
    padding:2px;
}

.PainelErro{
    border: solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 95%;
    max-width: 1000px;
    border-radius: 10px;
    padding:2px;
}

.Titulo{
    font-weight: bold;
}

.Img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
}

.Botao{
    border: none;
    width: 32px;
    height: 32px;
    margin: 3px;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}

.Tabela{
    width:80%;
}

.Nav{
    display: flex;
    justify-content: space-between;
}

.Input{
    border: none;
    width: 80%;
    opacity: 0.6;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size:15px;
    padding:5px;
}

.InputErro{
    border: solid red;
    width: 80%;
    opacity: 0.6;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size:15px;
    padding:5px;
}

.Mensagem{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding:10px;
    font-weight: bold;
    color: #fff;
}

.Linha{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}


.ImgLoad{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
